@import url(https://fonts.googleapis.com/css?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap);

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  /* background: rgb(237, 227, 227); */
  padding: 20px;
  background: #dde6ed;
  background-color: none;
}